.messages h1 {
    /* color: #3939d9f2; */
    color: #3CD3AD;
    margin-bottom: 30px;
    font-size: 2.3rem;
}

.messages .banner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.messages .banner .card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
}

.messages .banner .card div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
}

.messages .banner .card div p {
    font-weight: 700;
}

.messages .banner .card div p span {
    font-weight: 500;
}